@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap');

:root {
    --strong-navy: #011232;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
}

.wrapper {
    max-width: 75em;
    margin: auto;
    /* background-color: red; */
}

button{
    padding: 1em 2.5em;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    border: none;
    color: var(--strong-navy);
    font-weight: 600;
    transition: background-color .5s ease-in-out;
}

button:hover{
    color: white;
    background-color: var(--strong-navy);
    cursor: pointer;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

h1{
    color: var(--strong-navy);
    font-size: 4em;
    font-weight: 900;
    line-height: 1.2em;
}

.subheading{
    font-size: 1.4em;
    font-weight: 100;
}

/* header styling */

header {
    background-color: white;
    padding-top: 50px;
    margin-bottom: -50px;
    padding-inline: 2em;
}

header .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
header .contact {
    display: flex;
    gap: 1.5em;
}
header .contact img {
    width: 40px;
}

header .contact .address,
header .contact .email{
    display: flex;
    gap: 1em;
    align-items: center;
}

header .contact a{
    color: var(--strong-navy);
}

header .contact button{
    border: 2px solid var(--strong-navy);
    background: transparent;
    color: var(--strong-navy);
}

header .contact button:hover{
    color: white;
    background-color: var(--strong-navy);
    cursor: pointer;
}


header .bottom {
    background-color: var(--strong-navy);
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em;

    z-index: 1;
}

header .bottom nav ul{
    display: flex;
    align-items: center;
    gap: 2em;
}

header .bottom nav img{
    width: 30px;
}

header .bottom .socials ul{
    display: flex;
    align-items: center;
    gap: 1em;
}

header .socials img{
    width: 15px;
}

header .cart-search img{
    width: 20px;
}

header .right{
    display: flex;
    gap: 2em;
    align-items: center;
}

header .right .cart-search{
    display: flex;
    gap: 1em;
}

header .right .cart-search a{
    padding-inline: 1em;
}

header .right .cart-search a:first-child{
    border-inline: 2px solid #6969698d;
}

/* hero styling */

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(hero\ bg\ image\ 1.jpg);
    background-position: center;
    background-size: cover;

    position: relative;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #E5E8E8 , #ffffff00);
    /* background: linear-gradient(90deg,  #E5E8E8 0 55%,  #e5e8e800 45%) */
}

.hero .wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    position: relative;
    z-index: 1;

    padding-block: 2em;
}

.hero .text{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
}

/* post hero cards */

h3{
    font-size: 1.5em;
    color: var(--strong-navy);
}
.separator{
    width: 40px;
    height: 4px;
    background-color: #C3C3C3;
    border-radius: 5em;

    margin: auto;
}

p{
    text-align: center;
    color: #645C5A;
    font-size: 1.1em;
}

.post-hero-cards{
    display: flex;
}

.post-hero-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    padding: 4em 2em;
    border-bottom: 4px solid;

    transition: border-color .5s ease-out;
}

.post-hero-cards .card-1{
    background-color: #ffffff;

    border-color: #fff;
}
.post-hero-cards .card-2{
    background-color: #F6F6F6;
    border-color: #F6F6F6;
}

.post-hero-cards .card-3{
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.post-hero-cards .card-4{
    background-color: #E9E9E9;
    border-color: #E9E9E9;
}

.post-hero-cards .card:hover{
    border-color: #011232;
}

/* about us section */

h2{
    color: var(--strong-navy);
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1.2em;

    text-transform: uppercase;
    text-align: center;
}

.about{
    padding-block: 8em;
    padding-inline: 2em;
}

.about-flex{
    display: flex;
    gap: 4em;
}

.about-flex .image{
    width: 50%;
    background-image: url(about\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.about-flex .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.about-flex .text .icons{
    display: flex;
    border-top: 2px solid var(--strong-navy);
    width: 100%;
    justify-content: center;
    padding-top: 2em;
}

.about-flex .text .icons img{
    width: 6em;
}

.about-flex .text .icons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.about-flex .text .icons div:nth-child(2){
    border-inline: 2px dotted var(--strong-navy);
}

/* cta styling */

.cta{
    background-image: url(skyscrapper.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-block: 4em;

    position: relative;
}

.cta::after{

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #011232a3;

}

.cta .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: relative;
    z-index: 1;
}

.cta h2{
    color: white;
    text-transform: capitalize;
}

.cta button{
    color: white;
    background-color: var(--strong-navy);
}

.cta button:hover{
    background-color: #010a1b;
}

/* services styling */

.services{
    padding-block: 4em;
}

.services .wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-inline: 2em;
}

.services .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin-top: 2em;
}

.services .grid-item{
    border: 1px solid #dbd9d9;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}

.services .grid-item:hover{
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
}

.services .grid-item .text{
    width: 70%;
    padding: 1em 1.2em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.services .grid-item p{
    text-align: unset;
}

.services .grid-item a{
    color: var(--strong-navy);
    margin-top: .9em;

    font-size: .9em;
    font-weight: 700;
}
.services .grid-item .image{
    width: 30%;
    border-radius: 4px;
}
.services .grid-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* message us */

.message-us .wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 5em;
}

.message-us p{
    font-size: 1.5em;
}

.message-us a{
    font-size: 1.5em;
    color: navy;
    text-transform: capitalize;
    text-decoration: underline;
}


/* testimonials styling */

.testomonials{
    padding-block: 8em;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.testomonials::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #01123294;
}

.testomonials .card{
    background-color: #fff;
    width: 50%;
    padding: 3em 5em;

    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;

    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.testomonials .card::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 30px;
    right: -5px;
    width: 25px;
    height: 25px;
    rotate: 45deg;
}

.testomonials .name{
    font-size: 1.2em;
    font-weight: 600;
}

.testomonials .scroller{
    display: flex;
    justify-content: center;
    gap: .5em;
}
.testomonials .scroller .circle{
    background-color: #c2c1c1;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}
.testomonials .scroller .circle:nth-child(1){
    background-color: var(--strong-navy);
}

/* team */

.team{
    margin-block: 5em;
}

.team .wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.team .flex{
    display: flex;  
    gap: 1.5em; 
    margin-top: 3em;
}

.team .member{
    width: 25%;
    border-radius: 5px;
}

.team .member .image{
    height: 18em;
    border-radius: 5px 5px 0 0;
}

.team .member .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px 5px 0 0;
}

.team .member .details{
    text-align: center;
    padding: 1em;
    border-left: 1px solid #c2c1c1;
    border-bottom: 1px solid #c2c1c1;
    border-right: 1px solid #c2c1c1;
    border-radius: 0 0 5px 5px;
}

.team .name{
    font-size: 1.2em;
    font-weight: 600;
}

.team .position{
    font-size: .9em;
    font-style: italic;
}

/* footer */

footer{
    background-color: #011D49;
    padding-block: 4em;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

footer h3{
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
}

footer p{
    text-align: left;
}

footer .f-item:nth-child(1){
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
footer .f-item:nth-child(1) p{
    color: #C3C3C3;
}
footer .f-item:nth-child(1) a{
    display: flex;
    gap: .5em;
    font-size: .8em;
}

footer .f-item:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 35%;
}
footer .posts{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
footer .post{
    display: flex;
    gap: 1em;
    align-items: center;
}
footer .post:nth-child(1){
    padding-bottom: 1.5em;
    border-bottom: 1px solid #C3C3C3;
}
footer .post .image{
    height: 6em;
    width: 8em;
    background-color: red;
    border-radius: 5px;
}
footer .post .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
footer .post .text{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
footer .post .text .title{
    color: white;
}
footer .post .text .date{
    color: #C3C3C3;
    display: flex;
    gap: .5em;
    font-size: .8em;
    align-items: center;
}


footer .f-item:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 15%;
}
footer .f-item:nth-child(3) ul{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
footer .f-item:nth-child(3) li{
    list-style-type: none;
}
footer .f-item:nth-child(3) a{
    font-size: .9em;
    text-transform: capitalize;
}



footer .f-item:nth-child(4){
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 1em;
}
footer .f-item:nth-child(4) form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
}
footer .f-item:nth-child(4) input{
    padding: 1em 0;  
    background: transparent;
    border: none;
    border-bottom: 1px solid #C3C3C3;
    width: 100%;
}
footer .f-item:nth-child(4) input::placeholder{
    color: #C3C3C3;
}

/* media querries */

@media (max-width: 1200px){
    .hero{
        background-color: red;
        height: 100vh;
    }

    .wrapper {
        max-width: 65em;
        margin: auto;
        /* background-color: red; */
    }
    .testomonials .wrapper {
        padding-inline: 2em;
    }

    .post-hero-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .services .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 990px){

    .wrapper {
        max-width: 45em;
        margin: auto;
        padding-inline: 2em;
    }

    .testomonials .wrapper {
        padding-inline: unset;
    }
    .hide-on-mobile{
        display: none;
    }

    header .top {
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }
    
    .hero .text{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .about-flex .image{
        display: none;
    }

    .about-flex .text{
        width: 100%;
    }
        
    .about{
        padding-block: 5em;
        padding-inline: 2em;
    }

    .services .wrapper {
        max-width: 55em;
    }

    .testomonials .card{
        width: 100%;
    }

    .team .flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .team .member{
        width: 100%;
    }

    footer .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    footer .wrapper .f-item{
        width: 100%;
    }

    footer .post .image{
        height: 4em;
    }
}

@media (max-width: 760px){
    header .contact {
        display: none;
    }

    header .top {
        padding-bottom: 30px;
    }

    header .bottom {
        padding: 1em;
    }

    .hero .wrapper{
        padding-inline: 1em;
    }

    .testomonials .wrapper {
        padding-inline: 2em;
    }

    .services .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .services .grid-item .text{
        width: unset;
    }

    .testomonials{
        padding-block: 5em;
    }
    
}

@media (max-width: 560px){
   
    header {
        padding-inline: unset;
        padding-top: 20px;
    }

    header .top {
        padding-bottom: 20px;
    }

    .hero .wrapper{
        padding-inline: 1em;
    }

    .h1{
        font-size: 3em;
    }
    
    .subheading{
        font-size: 1.2em;
    }
    
    .post-hero-cards{
        display: flex;
        flex-direction: column;
    }

    .team .flex{
        grid-template-columns: repeat(1, 1fr);
    }

    .team .member{
        width: 100%;
    }

    footer .wrapper{
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
    }

}